* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;;
}

#carousel {
    background: url(../images/index.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* position: relative; */
    overflow: hidden;
}

#carousel h1 {
    color: '#000814';
}

#cards, #actors, #creators, #musicians {
    display: flex;
    scrollbar-gutter: 0;
    width: 100%;
    margin: auto;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    /* height: 200px; */
}

#cards::-webkit-scrollbar{
    display: none!important;
}

#span:hover {
    color: #fff;
    cursor: pointer;
    background-color: #000814;
}

#card {
    min-width: 24%;
    height: 90%;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
    border: none!important;
}

.card-details {
    /* background-color: #04070f; */
    background-color: #111827;
    color: #fff;
    font-size: 18px!important;
    padding: 10px 0 0 0;
}

.button {
    background-color: #3885D8;
    border: none;
}

.button:hover {
    background-color: #000814;
    transition: 0.5s;
}

.featured {
    background-color: #111827;
}

.mobile {
    background: #f1f1f1;
    width: 100%;
}

#userImg:hover {
    cursor: pointer;
}

footer {
    background: #1e1b1e;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
    color: #f59e0b;
}


@media screen and (max-width: 768px) {
    #card {
        min-width: 70%;
        margin:  0 10px  0 0;
    }
}

@media screen and (max-width: 768px) {
    .card-details {
        background-color: #04070f;
        color: #fff;
        font-size: 18px!important;
        padding: 10px 0 0 0;
    }
}
