* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;;
}

#carousel {
    background: url(../images/index.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* position: relative; */
    overflow: hidden;
}

#carousel h1 {
    color: '#000814';
}

#cards {
    display: flex;
    scrollbar-gutter: 0;
    width: 98%;
    margin: auto;
    align-items: center;
    overflow-x: auto;
    /* height: 600px; */
}

#cards::-webkit-scrollbar{
    display: none;
}

#card {
    min-width: 24%;
    height: 90%;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #card {
        min-width: 49%;
        margin:  0 10px  0 0;
    }
}
